*{
    margin:0 0;
    padding: 0;
    box-sizing: border-box; /* Add this line to handle padding and borders */
    
        font-family: 'Sen', sans-serif;
    
      transition: 0.5s ease;
    
      

}




.arrow:hover{

    transform:scale(1.5);
   
}

.foundation *{
    border-radius: 20px;
}
.arrow{

    transition:0.2s  ease;
}
  
.arrow2:hover{
    transform:scale(1.5);
}

.arrow2{

    transition:0.2s  ease;
}
  


.step4{
    display:none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.selectDate{
    color:black;

}

.selectTop{
    display: flex;
    justify-content: center;

    width:100%;
    
    

}






.box{
    margin:10% ;
    width: 20%;
    height: 30vh;
    background-color: black;
    position: relative;
}
.content{
    display: flex;
    color:white;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;






}

.past-date{
    color:rgb(174, 174, 174);
    
}
.prev-date{
    color:rgb(213, 213, 213);
    
}

.next-date{
    color:rgb(41, 41, 41);
 

}




.step2{
    
    font-size: 62.5%;
    width: auto ;
    height:auto;
    overflow: hidden; /* Add this line to hide overflow */

    justify-content: center;
    align-items: center;


    display: flex;
    flex-direction: column;


    
    transform-origin:top left  ;
}
.div-block-41{
    display: none;
}
.calendarBG1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    width: 45rem; 
    height: 5rem;  
    color:rgb(255, 255, 255);
}

.calendarBG2{
    background-color: #ffffff;
    width: 45rem;
    height: 25rem;
    color:rgb(2, 1, 59);
    

}

.calendarMonth1{
    padding-top: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.arrow{

    
    margin: 0rem 2rem;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    
}

.arrow2{
    
    margin: 0rem 2rem;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    
}

.arrow img{
    width: 2rem;
    height: 10%;
    transform:rotate(180deg);
    filter: invert(100%);
    
}

.arrow2 img{
    width: 2rem;
    height: 2rem;
    transform:rotate();
    filter: invert(100%);
}
.calendarDate{
    padding: 0.7rem 0;
    font-size: 1rem;
}

.calendarBG2on{
    display: flex;
    flex-direction: column;

    padding: 0 5rem;


}



.calendarDays{
    font-weight: 550;
    padding: 1rem 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}
.calendarDays div{
    font-size: 1.5rem;
    width: calc(35rem/7);
    cursor:crosshair;
    transition:0.1s ease-in-out;


}


.calendarPrevDates{
    
    text-align: center;

    align-items: center;
    width: 35rem;
    display: flex;
    flex-wrap: wrap;
}
.calendarPrevDates div{
    width: calc(35rem/7);
    padding: 0.8rem 0;
    font-size: 1.5rem;
    transition:0.1s ease-in-out;
    cursor: not-allowed;

}

.calendarPrevDates div:not(.prev-date):not(.past-date){
    
    cursor: pointer;

}


.calendarDays div:hover{
    background-color: rgb(113, 113, 113);
    color:white;
    outline:0.5px solid rgb(0, 65, 71);

}
.calendarPrevDates div:not(.prev-date):not(.past-date):hover {
    outline: 0.5px solid rgb(0, 65, 71);
    background-color: rgb(126, 126, 126);
    scale:1.2;

    color: white;
}

.pony{
    display: none;
}
.no-hover{
    background-color: green !important;


}

.container-6{
    opacity: 1;
}



.today{
    background-color: black;
    color: white;
    color:whitesmoke;

}

.navigate{
    margin:5rem;
    width: 45rem;
    display:flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 700;


}



.navigate div{
cursor: pointer;
padding: 10px 20px;
 color: white;
 background-color: #1976d2;
 border-radius: 10px;

 text-align: center;

}

.clicked{
    background-color: darkgreen;
    color: white;

}

.div-block-13{
    display: none;
}

.divblock14{
    display: flex;


}

.div-block-12{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease; /* Adjust the time as needed */

}

.navigate div{
    transition:ease 0.2s ;
}

.navigate div:hover{
    background-color: black;
    scale: 1.2;

}

.foundation{
    width: 45rem; /* Set the same width as .calendarBG1 and .calendarBG2 for consistency */
    height: 30rem;
    transform: scale(0.7); /* Default scale for larger screens */
    transform-origin: top left;
    border-radius: 20px;
 
}


.responsive-iframe {
    width: 1200px; /* Double the size for desktop */
    height: 800px; /* Double the size for desktop */
    transform:scale(0.7);

}


@media (max-width: 768px) {
    .responsive-iframe {
        width: 400px; /* Set width for mobile */
        height: 600px; /* Set height for mobile */
    }
}

@media (max-width: 768px) {
    .step2 {
        /* Scale down the .step2 for smaller screens */
        transform: scale(0.5);
    }
}

/* You could also add another media query for mobile phones specifically */
@media (max-width: 480px) {
    .step2 {
        /* Adjust the scale for mobile phones if necessary */
        transform: scale(0.5);
    }
}
/*

div-block-24//Submit button
submitfinal/submit text

heading-3/THe text i ned to update every step */