.body{
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: -2;
    max-width: 100%;
    max-height: 100%;

}



.first{
    width: auto;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    color: white;
    font-family:Arial, Helvetica, sans-serif;

}

@keyframes bounce {
    0%{ transform: scale(1); } /* Start and end at normal size for a smooth loop */
    100% { transform: scale(1.05); }

  }
  
.selectbackground{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 228, 228);

}



.selectionmenu{
    
    display: none;


    justify-content: center;
    

}


.selectDate{
    color:black;

}

.selectTop{
    display: flex;
    justify-content: center;

    width:100%;
    
    

}

.div-block-9{
   
}


.selectBinText{
    width: 10%;
    height: 40px;
    align-items: center;
    text-align: center;

    
    
    
}
.circleIcons{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 20px;
    width: 98%;
    margin-top: -10px;
    

}

.selectBin1{
    width: 100%;
    justify-content: center;
    display:flex;
    flex-direction: row;
}




.box{
    margin:10px ;
    width: 20vw;
    height: 30vh;
    background-color: black;
    position: relative;
}
.content{
    display: flex;
    color:white;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;






}

.past-date{
    color:rgb(174, 174, 174);
    
}
.prev-date{
    color:rgb(213, 213, 213);
}

.next-date{
    color:rgb(41, 41, 41);

}
.selectButton{
    color:white;
    background-color: #1976d2;
    padding: 10px 10px 10px 10px;
}

.binText{
    padding: 10px 10px 10px 10px;




}


.step2{
    font-size: 62.5%;
    width: auto ;
    height:auto;

    justify-content: center;
    align-items: center;


    display: none;
    flex-direction: column;


    transform: scale(0.75); 
    transform-origin: top;
}

.calendarBG1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    width: 45rem; 
    height: 5rem;  
    color:rgb(255, 255, 255);
}

.calendarBG2{
    background-color: #ffffff;
    width: 45rem;
    height: 25rem;
    color:rgb(2, 1, 59);
    

}

.calendarMonth1{
    padding-top: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.arrow{

    
    margin: 0rem 2rem;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    
}

.arrow2{
    
    margin: 0rem 2rem;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}

.arrow img{
    width: 2rem;
    height: 10%;
    transform:rotate(180deg);
    filter: invert(100%);
}

.arrow2 img{
    width: 2rem;
    height: 2rem;
    transform:rotate();
    filter: invert(100%);
}
.calendarDate{
    padding: 0.7rem 0;
    font-size: 1rem;
}

.calendarBG2on{
    display: flex;
    flex-direction: column;

    padding: 0 5rem;


}

.calendarDays{
    font-weight: 550;
    padding: 1rem 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}
.calendarDays div{
    font-size: 1.5rem;
    width: calc(35rem/7);
    cursor:crosshair;
    transition:0.1s ease-in-out;


}


.calendarPrevDates{
    
    text-align: center;

    align-items: center;
    width: 35rem;
    display: flex;
    flex-wrap: wrap;
}
.calendarPrevDates div{
    width: calc(35rem/7);
    padding: 0.8rem 0;
    font-size: 1.5rem;
    transition:0.1s ease-in-out;
    cursor: not-allowed;

}

.calendarPrevDates div:not(.prev-date):not(.past-date){
    
    cursor: pointer;

}

.calendarDays div:hover{
    background-color: black;
    color:white;
    outline:0.5px solid rgb(0, 65, 71);

}
.calendarPrevDates div:not(.prev-date):not(.past-date):hover {
    outline: 0.5px solid rgb(0, 65, 71);
    background-color: black;
    color: white;
}





.today{
    background-color: black;
    color: white;
    color:whitesmoke;

}

.navigate{
    margin:5rem;
    width: 45rem;
    display:flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 2rem;

}

.navigate div{
cursor: pointer;
padding: 5px;
 color: white;
 background-color: #1976d2;
 width: 5rem;
 text-align: center;

}

.clicked{
    background-color: darkgreen;
    color: white;

}

.div-block-13{
    display: none;
}

.divblock14{
    display: none;


}

.div-block-12{
    display: none;
}



/*

div-block-24//Submit button
submitfinal/submit text

heading-3/THe text i ned to update every step */